#map {
    /* height: 400px; */
    height: 100vh;
    width: 100%;
    position: relative;
}

/* Styling for an info pane that slides out from the left. 
    * Hidden by default. */
#panel {
    /* height: 400px; */
    height: 100vh;
    width: null;
    background-color: white;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    transition: all .2s ease-out;
    position: absolute;
}

.open {
    width: 250px;
}

/* Styling for place details */
.hero {
    width: 100%;
    height: auto;
    max-height: 166px;
    display: block;
}

.place {
    font-family: 'open sans', arial, sans-serif;
    padding-left: 18px;
    padding-right: 18px;
}

.details {
    color: darkslategrey;
}

a {
    text-decoration: none;
    color: cadetblue;
}